section.home {
  background: var(--background-gradient);
}

section.home > div {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-primary);
  gap: 5.7rem;
  margin: 2rem auto;
  flex-wrap: wrap;
  padding: 4rem 1.2rem;
}

.title {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .9rem;
}

.title h1 {
  font-size: 2.9rem;
  font-weight: 500;
}

.text-effect {
  color: var(--green);
}

.carousel {
  flex: 1;
  position: relative;
  border-radius: .4rem;
  box-shadow: 0 0 2px #ffffff2d, 0 0 10px #ffffff2d, 0 0 20px #5db12d11, 0 0 30px #5db12d11,
    0 0 40px #5db12d11, 0 0 50px #5db12d11;
  animation: blink 2s infinite alternate;
}

@keyframes blink {
  100% {
    box-shadow: 0 0 3px #ffffff2d, 0 0 10px #ffffff2d, 0 0 20px #ffffff2d, 0 0 40px #5db12d11,
      0 0 70px #5db12d11, 0 0 80px #5db12d11;
  }
}

@media (max-width: 768px) {
  section.home > div {
    flex-direction: column;
  }
}