header {
  background: var(--background-gradient);
}

header > div {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  z-index: 10;
  margin: auto;
  padding: 3rem 0;
}

.logo img {
  width: 6rem;
}

nav {
  display: flex;
  align-items: center;
  margin-right: -24px;
}

a {
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  transition: color .2s ease;
}

a.active, a:hover {
  color: var(--text-primary);
}

.header-buttons {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  font-weight: 500;
  gap: 1rem;
}

.header-buttons > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.header-buttons > div > span:last-child {
  font-size: 1.3rem;
}

.btn-connect {
  border-radius: .2rem;
  background: var(--green);
  padding: 0.625rem 1.375rem;
  color: #fff;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  transition: background-color .2s ease;
}

.btn-connect:hover {
  background-color: transparent;
  border: 1px solid var(--green);
  color: var(--text-primary);
}